<div class="fundinho espaco-container-listar">
<div class="container-listar" style="display: flex; align-items: center;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="text-listar" style="max-width: 100%; font-weight: 700; color:#0f0a36">Leitura que Transforma</h1>
                <p class="desc-container-slide">Descubra um mundo de histórias! Cadastre, leia e troque livros, conectando leitores e enriquecendo vidas.</p>
                <a class="button-slide" href="#">Ver Mais</a>
            </div>

            <div class="col-sm-6">
                <div style="position: relative; width: 100%; height: 0; padding-bottom: 56.25%;">
                    <dotlottie-player src="../../public/img/lendoLivroAnimation.json" background="transparent" speed="1" style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; padding-top: 15px;" loop autoplay></dotlottie-player>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <div>
    <p>Total de Livros: ( <%= livros.length %> )</p>
</div> -->

<div class="container-fluid card-livro-padding">
    <div class="row justify-content-center">
        <% for (let contador = 0; contador < livros.length; contador++) { %>
            <div class="col-md-4 custom-card-spacing">
                <a class="hover-card" href="/livro/livroDetalhe?idLivro=<%= livros[contador].idLivro %>">
                    <div class="card-livro">
                        <div>
                            <img class="card-img-top embed-responsive-item card-img-livro" src="/public/img/livros/<%= livros[contador].idLivro %>.jpg" alt="Card image cap">
                        </div>
                        <h4><%= livros[contador].titulo %></h4>
                        <h6 class="autor-text-card"><%= livros[contador].autor %></h6>
                    </div>
                </a> 
            </div>
        <% } %>
    </div>
</div>