<div>
    <h1>Receitas</h1>
    <p>Total de Livros: ( <%= livros.length %> )</p>
</div>
<div class="container-fluid">
    <div class="row justify-content-center">
        <% for (let contador = 0; contador < livros.length; contador++) { %>
        <div class="col-sm-5 col-md-5 col-lg-5">
            <div class="card shadow my-4" style="width: 35rem;">
                <h2><div class="card-header align-center">
                    <%= livros[contador].titulo %>
                </div></h2>
                <div class="embed-responsive embed-responsive-16by9">
                    <img class="card-img-top embed-responsive-item" src="/public/img/livros/<%= livros[contador].idLivro %>.jpg" alt="Card image cap">
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"> Descrição: <%= livros[contador].descricao %> </li>
                    <li class="list-group-item"> Autor: <%= livros[contador].autor %></li>
                    <li class="list-group-item"> Editora: <%= livros[contador].editora %></li>
                    <li class="list-group-item"> Categoria: <%= livros[contador].categoria %></li>
                    <li class="list-group-item"> Ano: <%= livros[contador].ano %></li>
                </ul>
            </div>
        </div>
    <% } %>
    </div>
</div>