<div class="container-fluid fundinho">
    <div class="row">
        <div class="col-sm-6 d-flex align-items-center">
            <img class="image-livro-detail img-fluid mx-auto" src="/public/img/livros/<%= livros.idLivro %>.jpg" alt="Card image cap">
        </div>

        <div class="col-sm-6">
            <h3><%= livros.titulo %></h3>

            <img src="../../public/img/estrela.png" class="estrela"/>

            <h5>Autor: <%= livros.autor %></h5>

            <p><%= livros.descricao %></p>

            <p>Lançamento: <%= livros.ano %></p>

            <a href="/livro/edicaoLivro?idLivro=">Excluir</a>
        </div>
    </div>
</div>
