<div class="container-fluid fundinho">
    <div class="row">
        <div class="col-sm-6 d-flex align-items-center">
            <img class="image-livro-detail img-fluid mx-auto" src="/public/img/livros/<%= livros.idLivro %>.jpg" alt="Card image cap">
        </div>

        <div class="col-sm-6">
            <h3 class="titulo-livro-detail"><%= livros.titulo %></h3>

            <img src="../../public/img/estrela.png" class="estrela"/>

            <h5 class="detail-autor">Autor: <%= livros.autor %></h5>

            <p>Lançamento: <%= livros.ano %></p>

            <div class="contain-detail-livro">
                <p class="desc-detail-livro"><%= livros.descricao %></p>
            </div>

            <a class="btn-excluir" href="/livro/deletarLivro?idLivro=<%= livros.idLivro %>">Excluir</a>
            <a class="btn-editar" href="/livro/edicaoLivro?idLivro=<%= livros.idLivro %>">Editar</a>
        </div>
    </div>
</div>

